@import 'styles/colors';

body { background-color: $flat-grey; }
div { font-family: 'Merriweather', serif; }

.title { 
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}

.hcenter { 
  display: table;
  margin: 0 auto; 
}

@mixin common-transition($attr) {
  -webkit-transition: 0.15s $attr;
  transition: 0.15s $attr;
}

.root { 
  display: flex; 

  > * { 
    min-height: 100%; 
    overflow: auto;
  }
}

.right-pane { flex: 1; }

.page-link {
  @include common-transition(border-right);
  @include common-transition(color);

  border-right: 5px solid $dark-grey;
  color: $background-black;
  background-color: $off-white;
  text-decoration: none;
  padding: 10px;
  font-size: 20px;
  margin: 10px;
  display: block;

  .fa { margin-right: 15px; }
}