@import 'styles/common';
@import 'styles/colors';

.circle-image-container {
  img {
    @include common-transition(border);

    max-height: 100%;
    max-width: 100%;

    border: 3px solid $dark-grey;
    border-radius: 100%;

    &:hover { 
      @include common-transition(border);

      border: 3px solid $off-white;
    }
  }
}