@import 'styles/colors';
@import 'styles/common';

.local-link {
  @include common-transition(background-color);

  display: block;
  padding: 10px 30px 10px 10px;
  
  color: $background-black;
  background-color: $off-white;
  
  border-right: 5px solid $background-black;
  

  .link-text {
    display: inline-block;
    font-size: 20px;  
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
  
    .fa { margin-right: 15px; }  
  }
  
  &:hover {
    @include common-transition(background-color);

    background-color: $dark-grey;
  }
}