@import 'styles/colors';

.term-container {
  width: 100%;
  box-sizing: border-box;
  background-color: $background-black;
  color: $off-white;
  padding: 10px;

  transition: color 0.2s, background-color 0.2s;
  &:hover {
    cursor: pointer;
    color: $background-black;
    background-color: $off-white;

    transition: color 0.2s, background-color 0.2s;
  }

  &.open {
    color: $background-black;
    background-color: $off-white;
    margin-bottom: 15px;
  }
  
  .fa { float: right; }
  .term-header { font-size: 25px; }
  .term-description { margin-top: 10px; }
}