@import 'styles/colors';

.education-page {
  width: 100%;
  padding: 20px;

  .education-header, .school-term-container {
    width: 100%;
    box-sizing: border-box;
    color: $off-white;
    background-color: $background-black;
    padding: 20px;

    margin-top: 20px;
    &:first-child { margin-top: 0px; }
  }

  .horizontal-line {
    width: 100%;
    box-sizing: border-box;
    height: 1px;
    border-bottom: solid 1px $dark-grey;
    margin: 10px 0px;
  }

  .school-term-container {
    .term-name {
      font-size: 25px;
      margin-bottom: 10px;
    }
  }
}