@import 'styles/common';
@import 'styles/colors';

.experience-page {
  padding: 30px;
  width: 100%;
  
  .title-row { margin-bottom: 10px; }

  .company-container {
    margin-bottom: 30px;
    padding: 20px;
    color: $off-white;
    background-color: $background-black;

    .company-name { 
      color: $off-white;
      font-size: 30px; 
      text-decoration: none;
    }

    .fa-external-link {
      transition: color 0.2s;
      float: right;
      display: inline-block;
      text-decoration: none;
      color: $dark-grey;

      &:hover {
        transition: color 0.2s;
        color: $off-white;
      }
    }

    .company-description { margin-bottom: 15px; }
  } 
}