@use '../colors';

.projects-page {
  width: 100%;
  padding: 20px;

  .project-container {
    background-color: colors.$background-black;
    color: colors.$off-white;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 20px;
    &:first-child { margin-top: 0px; }
    
    .project-name {
      font-size: 25px;
      margin-bottom: 10px;

      .fa-github {
        text-decoration: none;
        float: right;
        color: colors.$dark-grey;
        font-size: 40px;

        transition: color 0.2s;
        &:hover {
          color: colors.$off-white;
          transition: color 0.2s;

          cursor: pointer;
        }
      }
    }
    .project-technologies { margin-bottom: 10px;}
  }
}