@use '../colors';
@use '../common';

.external-links-panel {
  padding: 20px;

  .link {
    @include common.common-transition(color);

    color: colors.$dark-grey;
    font-size: 30px;
    margin-right: 20px;
    text-decoration: none;
    text-align: bottom;
  
    &.title { 
      float: right; 
      height: 23px;
      padding-top: 3px;
    }  
    
    &:last-child { margin-right: 0px; }

    &:hover {
      @include common.common-transition(color);

      color: colors.$off-white;
    }
  }
}