@use '../common';
@use '../colors';

.language-label {
  @include common.common-transition(background-color);

  display: inline-block;
  
  color: colors.$background-black;
  background-color: rgba(225, 225, 225, 0.7);
  border: 1px solid colors.$off-white;

  border-radius: 5px;
  padding: 5px;
  margin: 5px;

  &:first-child { margin-left: 0px; }

  .devicons { 
    display: inline-block;
    margin-right: 8px;
  }

  .label-text { display: inline-block; }

  &:hover {
    @include common.common-transition(background-color);
    background-color: rgba(225, 225, 225, 0.9);
  }
}