.floating-panel-bio, .floating-panel, .floating-panel-noflex, .floating-panel-redborder {
	background-color:#F5F5F5;
	box-shadow: 2px 2px 5px #7f7f7f;
	list-style:none;
}

.panel-piece-text-noinline {
	width:100%;
	word-wrap:break-word;
	margin:10px;
}

.floating-panel:last-child {
	margin-bottom:40px;
}

.floating-panel-bio, .floating-panel {
	display:flex;
	flex-direction:row;
}

.floating-panel-noflex {
	margin:30px auto 0 auto;
	padding:10px;
	border-bottom:15px solid #a33526;
}

.floating-panel-noflex a:hover {
	color:#a33526;
}

.floating-panel-redborder {
	display:flex;
	flex-direction:row;
	padding:0 10px;
	border-bottom:15px solid #a33526;
	margin:100px auto 0 auto;
}

.floating-panel-bio {
	margin:30px auto 0 auto;
}

.floating-panel-bio:first-child {
	margin:100px auto 0 auto;
}

.floating-panel {
	margin:30px auto 0 auto;
	border-bottom:15px solid #2b2b2b;
}

.floating-panel:hover {
	border-bottom:15px solid #a33526;
}

.floating-panel:hover h1 {
	color:#a33526;
}

.panel-piece {
	width:100%;
	white-space:normal;
	display:inline-block;
	vertical-align:top;
	flex-grow:1;
}

.panel-piece-text {
	width:auto;
	word-wrap:break-word;
	margin-left:10px;
	margin-bottom:10px;
}

.bio-link {
	margin:15px 10px 10px;
	display:inline-block;
	vertical-align:top;
	height:40px;
}

.bio-link > * {
	margin: 0 auto;
}

.bio-link h3 {
	padding:0px;
	margin:0 auto;
	font-family: 'Oswald', sans-serif;
	font-size:30px;
	letter-spacing:1px;
	text-align:center;
}

h1 {
	font-family: 'Oswald', sans-serif;
	font-size:55px;
	color:#2b2b2b;
	text-decoration:none;
}

a {
	color:inherit;
	text-decoration:none;
	width:auto;
}

h2 {
	font-family: 'Merriweather', serif;
	color:#757575;
	font-size:25px;
}

p {
	font-family: 'Merriweather', serif;
	font-size:18px;
}

.panel-piece p, h1, h2 {
	margin:0px;
}

body {
	/* background-image:url("confectionary.png"); */
	background-color:#e1e1e1;

}